[submodule "__lib__/googletest"]
	path = __lib__/googletest
	url = https://github.com/google/googletest.git
[submodule "__lib__/cli11"]
	path = __lib__/cli11
	url = https://github.com/CLIUtils/CLI11.git
